@import "tailwindcss";

/* *************************************google font************************************************* */

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

/* ===================coustom theme============================= */

@theme{
  /* font family */
  --font-urbanist: "Urbanist", sans-serif;
}

.l{
  color: #f6f5f535;
}